body {
  
    animation:changeBg 5s infinite alternate linear;
  }
 @keyframes changeBg{
   0%{
     background-image:linear-gradient(to right, aqua ,#d72d99);
   }
   25%{
   background-image:linear-gradient(to right,#ec6565,#a1a121);
   }
   50%{
     background-image:linear-gradient(to right,gold,#ff6600);
   }
   75%{
     background-image:linear-gradient(to right,yellow,red);
   }
   100%{
     background-image:linear-gradient(to right,hotpink,lightgreen);
   }
 }
 h1{
   text-align:center;
   font-family: italic;
   color:#1d1c1b;
   text-transform:capitalize;
   margin-top:20%;
 }
 